* {
    padding: 0;
    margin: 0;
}

/* Começo do parallax */

.box1 {
    margin-top: 5%;
    height: 50vh;
    width: 80%;
    background-image: url(../img/foto.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
    font-family: sans-serif;
    border-radius: 50px;
}

#logo {
    margin-top: 50px;
}

.text1{
    letter-spacing: 8px;
    margin-bottom: 20px;
    position: relative;
    animation: text1 3s 1;
    font-size: 400%;
    color: #0e283a;
    margin: 0;
}

.text2 {
    font-size: 230%;
    font-family: sans-serif; 
    color: #0e283a;
}               

@keyframes text1 {
    0%{
        margin-bottom: -40px;
    }
    30%{
        color:white;
        letter-spacing: 30px;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px; 
    }
}

/* Fim do parallax */


/* SHOWCASE - Começo do texto */

.show_case {
    max-width: 80%;
    margin: 10% auto;
}

.text {
    width: 45%;
    text-align: justify;
    margin: auto 5%;
    float: right;
}

.show_case .text p {
    margin: 0;
    float: right;
    margin-top: 30px;
    font-size: 130%;
    font-family: sans-serif;
    border-radius: 10px;
    padding: 10px;
    background: #f5f5f5;
    box-shadow: 0 15px 20px -5px #00000070;
}

.show_case .text h1 {
    margin: 0;
    float: left;
    font-size: 250%;
    font-family: sans-serif;
    border-radius: 10px;
    padding: 10px;
    color: #4ab0a6;
}

/* SHOWCASE - Fim do texto */

/*SHOWCASE - Começo das imagens */

#div_diamond { /*/ Estilização do diamante /*/
    background: #ff6e71;
    width: 350px;
    height: 350px;
    float: left;
    border-radius: 25px;
    transform: rotate(45deg);
    margin: 5% 10%;
    text-align: center;
    box-shadow: 10px 10px 30px -5px #000000bd;
}

#div_diamond h1 { /*/ Estilização do diamante /*/
    transform: rotate(-45deg);
    margin: 150px auto;
    font-family: monospace;
    font-size: 400%;
    color: whitesmoke;
    text-shadow: 2px 2px #af4b4d;
}

#div_diamond:hover h1 { /*/ Estilização do diamante /*/
    transform: rotate(300deg);
    transition-duration: 500ms;
    margin: 150px auto;
    font-family: monospace;
    font-size: 400%;
    color: #f5f5f5;
    text-shadow: 2px 2px #b88750;
}

#div_diamond:hover /*/ Rotação do diamante /*/ {
    background: #ffbc6f;
    border-radius: 100px;
    transform: rotate(60deg);
    transition-duration: 500ms;
}

/*SHOWCASE - Fim das imagens */
/*SHOWCASE - Fim */

/* Começo dos cards */

.cardbox {
    width: 80%;
    margin: 50% auto;
}

#card1 {
    width: 20%;
    height: 500px;
    background: #f5f5f5;
    float: left;
    margin: auto 5%;
    border-radius: 15px;
    box-shadow: 0px 15px 15px -5px #000000bd;
    overflow: hidden;
    position: relative;
    text-align: justify;
    padding: 0 20px;
}

#card1 h1 {
    font-family: sans-serif;
    margin: 10% 30%;
    color: #3498db;
}

#card1 p {
    font-family: sans-serif;
}

#card1:hover {
    transform: scale(1.05);
}

#card1::before {
    content: "";
    position: absolute;
    width: 300%;
    height: 200%;
    background: #3498db;
    transform: rotate(45deg);
    right: -20%;
    top: 110% ;
}

#card1:hover::before {
    animation: cards 0.7s 1;
    top: -85%;
    right: -150%;
    transition: 1s linear;
}

#card2 {
    width: 20%;
    height: 500px;
    background: #f5f5f5;
    float: left;
    margin: auto 5%;
    border-radius: 15px;
    box-shadow: 0px 15px 15px -5px #000000bd;
    overflow: hidden;
    position: relative;
    text-align: justify;
    padding: 0 20px;
}

#card2 h1 {
    font-family: sans-serif;
    margin: 10% 30%;
    color: #4ab0a6;
}

#card2 p {
    font-family: sans-serif;
}

#card2:hover {
    transform: scale(1.05);
}

#card2::before {
    content: "";
    position: absolute;
    width: 300%;
    height: 200%;
    background: #4ab0a6;
    transform: rotate(45deg);
    right: -20%;
    top: 110% ;
}

#card2:hover::before {
    animation: cards 0.7s 1;
    top: -85%;
    right: -150%;
    transition: 1s linear;
}

#card3 {
    width: 20%;
    height: 500px;
    background: #f5f5f5;
    float: left;
    margin: auto 5%;
    border-radius: 15px;
    box-shadow: 0px 15px 15px -5px #000000bd;
    overflow: hidden;
    position: relative;
    text-align: justify;
    padding: 0 20px;
}

#card3 h1 {
    font-family: sans-serif;
    margin: 10% 30%;
    color: #afc26b;
}

#card3 p {
    font-family: sans-serif;
}

#card3:hover {
    transform: scale(1.05);
}

#card3::before {
    content: "";
    position: absolute;
    width: 300%;
    height: 200%;
    background: #afc26b;
    transform: rotate(45deg);
    right: -20%;
    top: 110% ;
}

#card3:hover::before {
    animation: cards 0.7s 1;
    top: -85%;
    right: -150%;
    transition: 1s linear;
}

@keyframes cards {
    0% {
        top: 95%;
        right: -10%;
    }100% {
        top: -85%;
        right: -150%;
    }
}