body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #1e272e;
  }
  
  header{
    position: fixed;
    background: #1e272e;
    padding: 20px;
    width: 100%;
    height: 30px;
  }
  
  .left_area h3{
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
  }
  
  .left_area span{
    color: #2ebec7;
  }

  #logout_icon {
    transform: scale(1.2);
  }
  
  .logout_btn{
    padding: 5px;
    background: #2ebec7 ;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
  }
  
  .logout_btn:hover{
    transform: scale(1.1);
  }
  
  .sidebar {
    background: #485460;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
    box-shadow: 7px 10px 15px -5px #000;
  }
  
  .sidebar .profile_image{
    width: 125px;
    height: 125px;
    border-radius: 100px;
    margin-bottom: 10px;
    border: 5px solid #1e272e;
  }
  
  .sidebar h4{
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }
  
  .sidebar a::after{
    content: "";
    background: #25aae1;
    display: block;
    width: 0;
    height: 3px;
    transition: width .3s;
  }

  .sidebar a:hover {
    transform: scale(1.05);
  }

  .sidebar a:hover::after {
    width: 60%;
    transition: width .5s;
    transform: scale(1.1);
    border-radius: 10px;
  }
  
  .sidebar i{
    padding-right: 10px;
  }
  
  label #sidebar_btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 15px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
    transform: scale(2);
  }
  
  label #sidebar_btn:hover{
    color: #25aae1;
    transform: scale(2.1);
  }
  
  #check:checked ~ .sidebar{
    left: -200px;
  }
  
  #check:checked ~ .sidebar a span{
    display: none;
  }
  
  #check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
  }
  
  #check{
    display: none;
  }

  .active {
    background: #1e272e;
  }