html,
body {
    margin: 0;
}

body{
    background: #f4f4f4;
    font-family: sans-serif
}

/* INICIO header */

.container {
    width: 80%;
    margin: 0 auto;
}
.header {
    position: absolute;
    height: 77px;
    width: 100%;
    font-size: large;

}
.header a {
    color: #101010;
}
.header a:hover {
    color: #40E495;
}
.header .logo {
    float: left;
    position: absolute;
    top: -35px;
}
.header ul {
    margin: 0;
    padding: 0;
}
.header li {
    float: right;
    display: inline;
    padding: 28px 20px 0 0;
}
.clear {
    clear: both;
}
.active {
    font-weight: bold;
}

/* FIM header */


/* INICIO show case  */

.box1{
    padding-top: 15%;
    display: flex;
    /* margin: auto 30%; */
}

.card1{
background-color: royalblue;
width:300px;
height: 300px;
border-radius: 20px;
margin-left: 10%;
color: white;
text-align: center;
margin-top: 20px;
}

.card1 p{
    /* text-align: center; */
    margin-top:20%;
}


.card2 img{
  height: 200px;
  
}

.card2{
    background-color: royalblue;
    border-radius: 15px;
    width: 600px;
    margin-left: 20%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    transition: all 400ms ease;
    cursor: pointer;
    transform-style: preserve-3d;

    
}

.card2:after{
    top:-100%;
    position: absolute;
    box-sizing: border-box;
    content: '';
    transform-origin: left bottom;
    transform: rotate(90deg);
    transform-style: preserve-3d;
    transform: rotateX(90deg); 

}

.card2:hover{
    transform-origin: center bottom;
    transform: rotateX(-90deg) translateY(100%);


}

.btn-info{
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    transition: all 400ms ease;
    background-color: darkorchid;
    padding: 20px;
    margin-top: 5%;

}

.btn-info:hover{
    background: rgba(0,0,0,0);
    color:  darkorchid;
    box-shadow: inset 0 0 0 3px darkorchid;
}

