body,
h1,
p {
  margin: 0;
  padding: 0;
}

.nav-card {
  display: flex;
  justify-content: space-around;
  padding-top: 15%;
  text-align: center;
}
.nav-card .card {
  background-color: linear-gradient(135deg, #bdc3c7, #ecf0f1);
  height: 40vh;
  width: 20vw;
  border-radius: 10px;
  box-shadow: 5px 5px 20px 5px rgba(44, 44, 44, 0.3);
  cursor: pointer;
  transform-style: preserve-3d;
  box-sizing: border-box;
  transition: all 1s ease;
  position: relative;
  justify-self: center;
}

.card:hover {
  box-shadow: inset 0 0 0 3px #25aae1;
}

.card img {
  max-width: 200px;
  padding-top: 10%;
}
.show-case {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: linear-gradient(135deg, #25aae1, #ecf0f1);
  margin-top: 8%;
  height: 60vh;
  box-shadow: 5px 5px 20px 10px rgba(44, 44, 44, 0.3);
}
.show-case span {
  font-size: 2em;
}
