
html, body {
	height: 100%;
	}

.corpo {
	min-height: 100%;
}

* html .corpo {
	height: 100%; /* hack para IE6 que trata height como min-height */
}
 body{
    font-family: sans-serif;
    margin: 0;
}
.container {
    width: 80%;
    
    margin: 0 auto;
}
@media only screen and (max-width: 950px) {
    .container {width: 100%;}
  }
.header {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,37,0.4) 100%);
    position: fixed;
    height: 77px;
    width: 100%;
    font-size: large;
    z-index: 999999999999;
}
.header a {
    color: #202020;
    font-weight: bold;
}
.header a:hover {
    color: #25aae1;
}
.header .logo {
    position: absolute;
    top: -35px;
    float: left;
}
.nav{
    float: right;
    padding: 28px 20px 0 0;
    z-index: 999999999999;
}
.nav i{
    font-size: 35px;
}
.nav a{
    padding: 10px;
    text-decoration: none;
}
.nav a.icon {
    display: none;
}
@media only screen and (max-width: 950px) {
    .nav{padding: 10px;}
    .nav a:not(:first-child) {display: none;}
    .nav a.icon { display: block;}
}
@media only screen and (max-width: 950px) {
    .nav.responsive {
        position: relative;
        padding: 56px 0 0 0;
    }
    .nav.responsive a.icon {
        position: absolute;
        top: 0;
        right: 0;
    }
    .nav.responsive {
        background: #000025;
        float: none;
    }
    .nav.responsive a {
        color: #fff;
        display: block; 
        text-align: left; 
    }
    .nav.responsive a:active{
        background: #25aae1;
    }
}
.active {
    color: #000025 !important;
}
.Conteudo {
	padding-bottom: 200px;
}
 @media only screen and (max-width: 600px) {
    .Conteudo  {padding-bottom: 300px;}
}
.corpo {
	position: relative;
}
.footer{
    background: #000025;
    color: #f4f4f4;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer a{
    color: #f4f4f4;
    text-decoration: none;
    font-weight: bold; 
}
.logoFooter{
    float: left;
}
.navFooter{
    float: left;
    padding: 57px 0 0 60px;

}
@media only screen and (max-width: 950px) {
    .navFooter{
        padding: 57px 0 0 0;
    }
}
@media only screen and (max-width: 600px) {
    .navFooter{

        padding: 57px 0 0 0;
    }
}
.navFooter li{
    list-style: none;
}
.newslatter{
    float: right;
    padding: 39px 20px 0 0;
}
@media only screen and (max-width: 950px) {
    .newslatter{
        padding: 39px  5px 0 0;  
    }
}
@media only screen and (max-width: 600px) {
    .newslatter{
        width: 285px;
        float: none;
        margin: 0 auto;
        padding: 0 0 5px 7px;  
        clear: both;
    }
}
.newslatter li {
    display: inline;
}
.text {
    background: #25aae1;
    width: 355px;
    height: 30px;
    box-shadow: 0 2px 8px 0 rgba(49, 196, 190, 0.75);  
}
@media only screen and (max-width: 700px) {
    .text { width: 285px; }
}
.newslatter input {
    background: #25aae1;
    width: 250px;
    height: 30px;
    padding: 0;
    border:none;
    font-size: 16px;
}
@media only screen and (max-width: 700px) {
    .newslatter input { width: 180px; }
}
.newslatter input:hover{
    border: none;
}
.newslatter ul {
    margin: 0;
    padding: 0;
}
.newslatter img{
    width: 30px;

    -webkit-filter: drop-shadow(2px 2px 3px #31c4be);
    filter: drop-shadow(2px 2px 3px #31c4be);

}

.text .btn-hover {
    background-size: 300% 100%;
    color: #fff;
    width: 100px;
    height: 30px;
    padding: 0;
    border: none;
    text-align:center;
    font-size: 16px;
    font-weight: 600; 
    cursor: pointer;   
}
.text .btn-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.btn-hover:focus {
    outline: none;
}
.text  .btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673); 
}
.clear {
    clear: both;
}