
html, body {
	height: 100%;
	}

.corpo {
	min-height: 100%;
}

* html .corpo {
	height: 100%; /* hack para IE6 que trata height como min-height */
}
 body{
    font-family: sans-serif;
    margin: 0;
}
.container {
    width: 80%;
    margin: 0 auto;
}
@media only screen and (max-width: 950px) {
    .container {
        width: 99%;

    }
  }
.header {
    position: absolute;
    height: 77px;
    width: 100%;
    font-size: large;

}
.header a {
    color: #101010;
}
.header a:hover {
    color: #25aae1;
}
.header .logo {
    float: left;
    position: absolute;
    top: -35px;
}
ul {
    margin: 0;
    padding: 0;
}
.header li {
    float: right;
    display: inline;
    padding: 28px 20px 0 0;
}
.clear {
    clear: both;
}
.active {
    font-weight: bold;
}
.Conteudo {
	padding-bottom: 170px;
}
 @media only screen and (max-width: 725px) {
    .Conteudo  {
        padding-bottom: 260px;
    
    }
}
.corpo {
	position: relative;
}
.footer{
    position: absolute;
    background: #000025;
    color: #f4f4f4;
    bottom: 0;
    width: 100%;
}
.footer a{
    color: #f4f4f4;
    text-decoration: none;
    font-weight: bold;
    
}
.logoFooter{
    float: left;
}
.navFooter{
    float: left;
    padding: 68px 0 0 60px;

}
.navFooter li{
    list-style: none;
}
.newslatter{
    float: right;
    padding: 39px 20px 0 0;
    
}
.newslatter li {
    display: inline;
}
.text {
    background: #25aae1;
    height: 30px;
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.newslatter input {
    height: 30px;
    width: 250px;
    border:none;
    padding: 0;
    background: #25aae1;
    font-size: 16px;
}
.newslatter input:hover{
    border: none;
}
.newslatter img{
    width: 30px;

    -webkit-filter: drop-shadow(2px 3px 8px #31c4be);
  filter: drop-shadow(2px 3px 8px #31c4be);

}

.btn-hover {
    width: 100px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 30px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    padding: 0;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    
}