body {
  max-width: 100%;
  font-family: sans-serif;
}

/**.content{
    margin-left: 250px;
    background: url("../css/img/Img_Suporte.jpg");
    background-position: center;
    height: 100vh;
    transition: 0.5s;
    background-size: cover;
    background-repeat: no-repeat;
  }**/

  .arte{
    margin-left: 250px;
    background-position: center;
    height: 100vh;
    transition: 0.5s;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #check:checked ~ .arte{
    margin-left: 60px;
  }


.box{
    width: 110px;
    padding: 100px;
    display: flex;
    top: 70%;
    position: fixed;
    left: 40%;
    transform: translate(-50%,-50%);
    background: linear-gradient(79deg, rgba(2,0,36,1) 0%,
     rgba(9,9,121,0.3602998442367601) 50%, rgba(0,212,255,1) 100%);
}
   

.box h1{
    color: #ffffff;
    text-transform: lowercase;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;  
}


